.profile-cards {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.profile-card {
  background: rgba(254, 249, 201, 0.705);
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.2s ease;
  border-style:dashed;
  border-color:rgb(247, 211, 143);
}

.profile-card:hover {
  transform: translateY(-4px);
}

.profile-card h3 {
  margin: 0 0 10px 0;
  color: #333;
}

.profile-card p {
  margin: 4px 0;
  color: #555;
}

.profile-card button {
  margin-top: 10px;
  margin-right: 10px;
  padding: 8px 12px;
  background: rgb(243, 167, 181);  
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Itim';

}

.profile-card button:hover {
  background: rgb(255, 154, 167);
}
@media (max-width: 768px) {
  .profile-cards {
    gap: 10px;
  }

  .profile-card {
    padding: 12px;
    font-size: 14px;
    width:80vw;
    align-self: center;
  }

}
